<div id="<%= dom_id user %>">
  <%= "ID: #{user.id}" %>
  <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  </p>
  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </p>
  <p>
    <strong>Motto:</strong>
    <%= user.motto %>
  </p>
</div>
