<p style="color: green"><%= notice %></p>
<div>
  <p><%= button_to 'Generate Random User', random_users_path %></p>
  <p><%= button_to 'Remove All Users', purge_users_path, method: :delete %></p>
</div>
<h1>Users</h1>
<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>
<%= link_to "New user", new_user_path %>
